<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Test.Properties.Settings.BlogConnection" connectionString="Data Source=.;Initial Catalog=EFCookbook;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>