<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <configSections>
    </configSections>
    <appSettings>

    </appSettings>

    <connectionStrings>
        <add name="EFCodeFirst.Tests.Properties.Settings.Connection"
            connectionString="Data Source=.;Initial Catalog=Incentives;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
